html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
}

/* BANNER */
.banner {
  margin-top: 90px;
}

.banner .content {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(./../img/banner.jpg);
  z-index: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 80px;
}

.dark .banner .content {
  background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.92)),
    url(./../img/banner.jpg);
  z-index: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 80px;
}

.banner .banner__left h3 {
  color: #2c3038;
  font-size: 50px;
  font-weight: 700;
  line-height: 57.5px;
}

.banner .banner__left p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 28px;
  margin: 16px 0 48px;
}

.banner .banner__left .nav_btn {
  color: #dc4f72;
  font-size: 14px;
  font-weight: 700;
  line-height: 52px;
  background: none;

  padding: 0 30px;
  border: 1px solid #dc4f72;
}

.banner .banner__left .nav_btn:hover {
  color: #fff;
  background-color: #dc4f72;
}

.btn-focus:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
}

.dark .banner .banner__left h3 {
  color: #eeeeee;
}
.dark .banner .banner__left p {
  color: #b7b7b7;
}

/* TOOLS */
.tools {
  padding: 16px 25px;
  text-align: center;

  color: #404040;
  line-height: 24px;
}

.tools .container {
  padding-top: 48px;
}

.tools .tools__title .subtitle {
  color: #dc4f72;
  font-weight: 700;
  line-height: 20px;

  margin: 0 0 5px;
}

.tools .tools__title h1 {
  color: #2c3038;
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
}

.dark .tools .tools__title h1 {
  color: #fff;
}

.tools .tools__title p:last-of-type {
  color: #5a5a5a;
  line-height: 22.5px;
  margin: 16px 0;
}

.dark .tools .tools__title p:last-of-type {
  color: #b7b7b7;
}

.tools .tools__item {
  padding: 48px 30px;
  background-color: #f7f9fc;
  border: 1px solid #f7f9fc;
  border-radius: 6px;

  color: #404040;
  transition: 0.3s ease-in;
}

.dark .tools .tools__item {
  background-color: #191c1d;
  border: 1px solid #131617;
}

.tools .tools__item:hover {
  background-color: #fff;
  border: 1px solid #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}

.dark .tools .tools__item:hover {
  background-color: #131617;
  border: 1px solid #333;
}

.tools .tools__item h3 {
  color: #2c3038;
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;

  margin: 16px 0;
}

.dark .tools .tools__item h3 {
  color: #fff;
}

.tools .tools__item p {
  color: #5a5a5a;
  line-height: 24.5px;
  margin: 15px 0 0;
}

.dark .tools .tools__item p {
  color: #b7b7b7;
}

/* NUMBER */
.aboutUs {
  background-color: #f6f9fc;
}

.dark .aboutUs {
  background-color: #191c1d;
}

.aboutUs .container {
  padding: 80px 0;
}

.aboutUs .aboutUs__content .content__left {
  padding: 0 60px 0 15px;
}

.aboutUs .aboutUs__content .content__left .subtitle {
  color: #dc4f72;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  margin-bottom: 5px;
}

.aboutUs .aboutUs__content .content__left h1 {
  color: #2c3038;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;

  margin: 0 0 24px;
}

.dark .aboutUs .aboutUs__content .content__left h1 {
  color: #fff;
}

.aboutUs .aboutUs__content .content__left p:last-of-type {
  color: #5a5a5a;
  line-height: 24.4px;
  margin: 0 0 48px;
}

.dark .aboutUs .aboutUs__content .content__left p:last-of-type {
  color: #b7b7b7;
}

.aboutUs .aboutUs__content .content__left .nav_btn {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 52px;
  background-color: #dc4f72;

  display: inline-block;
  padding: 0 30px;
  border: 1px solid #dc4f72;
  transition: all 0.5s;
}

.aboutUs .aboutUs__content .content__left .nav_btn:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.aboutUs .aboutUs__content .content__right {
  padding: 0 15px 0 50px;
}

.aboutUs .aboutUs__content .content__right img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in;
}

.aboutUs .aboutUs__content .content__right img:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}

/* NUMBER */
.number {
  background-color: #f6f9fc;
  padding-bottom: 70px;
}

.dark .number {
  background-color: #191c1d;
}

.number .number__item {
  padding: 32px;
  background-color: #fff;
  border: 1px solid #f8f9fa;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  transition: 0.3s ease;
}

.dark .number .number__item {
  background-color: #131617;
  border: 1px solid #333;
}

.number .number__item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.number .number__item p:first-of-type {
  color: #2c3038;
  font-weight: 700;
  line-height: 24.5px;
}

.dark .number .number__item p:first-of-type {
  color: #fff;
}

.number .number__item h1 {
  color: #dc4f72;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;

  margin: 10px 0 15px;
}

.number .number__item p:last-of-type {
  color: #5a5a5a;
  line-height: 24px;
  margin-bottom: 0;
}

.dark .number .number__item p:last-of-type {
  color: #b7b7b7;
}

/* COMMIT */
.commit {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),
    url(./../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.commit h1 {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.commit p {
  color: #eeeeee;
  line-height: 24.5px;
  margin: 24px 0 48px;
}

.commit .nav_btn {
  color: #212529;
  font-size: 14px;
  font-weight: 700;
  line-height: 52px;
  background-color: #f8f9fa;

  display: inline-block;
  padding: 0 30px;
  border: 1px solid #f8f9fa;
  transition: all 0.5s;
}

.commit .nav_btn:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.commit .nav_btn:focus {
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

/* FAQs */
.faqs {
  background-color: #f7f9fc;
}

.dark .faqs {
  background-color: #191c1d;
}

.faqs__title .subtitle {
  color: #dc4f72;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  margin-bottom: 5px;
}

.faqs__title h1 {
  color: #2c3038;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;

  margin: 0 0 24px;
}

.dark .faqs__title h1 {
  color: #fff;
}

.faqs__title p:last-of-type {
  color: #5a5a5a;
  line-height: 24.4px;
}

.dark .faqs__title p:last-of-type {
  color: #b7b7b7;
}

/* .faqs .faqs__content .content__left {
  width: 40%;
} */
.faqs .faqs__content .content__left img {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;

  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.faqs .faqs__content .content__left img:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

/* .faqs .faqs__content .content__right {
  width: 60%;
} */
.faqs .faqs__content .content__right .accordion .accordion__item {
  padding-bottom: 17px;
}

.faqs .faqs__content .content__right .accordion .accordion__item .arrow {
  transition: all 0.5s;
}

.faqs .faqs__content .content__right .accordion .accordion__item.active .arrow {
  transform: rotate(180deg);
}

.faqs
  .faqs__content
  .content__right
  .accordion
  .accordion__item
  .accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  border: 1px solid #f6f6f6;
  border-bottom: none;
  border-radius: 6px;
  padding: 24px 24px;
  cursor: pointer;
}

.dark
  .faqs
  .faqs__content
  .content__right
  .accordion
  .accordion__item
  .accordion__header {
  background-color: #131617;
  border: 1px solid #333;
  border-bottom: 0px;
  border-radius: 6px 6px 0px 0px;
}

.dark
  .faqs
  .faqs__content
  .content__right
  .accordion
  .accordion__item.active
  .accordion__header {
  border-radius: 6px;
  border-bottom: 1px solid #333;
}

.faqs
  .faqs__content
  .content__right
  .accordion
  .accordion__item
  .accordion__header
  h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  color: #2c3038;
  margin-bottom: 0;
}

.dark
  .faqs
  .faqs__content
  .content__right
  .accordion
  .accordion__item
  .accordion__header
  h2 {
  color: #fff;
}

.faqs
  .faqs__content
  .content__right
  .accordion
  .accordion__item
  .accordion__body {
  display: none;

  background-color: #fff;
  border: 2px solid #f3f3f5;
  border-top: none;
  border-radius: 6px;
  padding: 0 25px;
}

.dark
  .faqs
  .faqs__content
  .content__right
  .accordion
  .accordion__item
  .accordion__body {
  background-color: #131617;
  border: 1px solid #333;
  border-top: 0px;
  border-radius: 0px 0px 6px 6px;
}

.faqs
  .faqs__content
  .content__right
  .accordion
  .accordion__item
  .accordion__body
  p {
  color: #5a5a5a;
}

.dark
  .faqs
  .faqs__content
  .content__right
  .accordion
  .accordion__item
  .accordion__body
  p {
  color: #b7b7b7;
}
.dark .arrow {
  color: #fff;
}

/* PROJECTS */
.products .subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.products h3 {
  color: #2c3038;
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
}
.dark .products h3 {
  color: #fff;
}

.products p {
  color: #5a5a5a;
  line-height: 22.5px;
  margin: 16px 0;
}

.dark .products p {
  color: #b7b7b7;
}

.products .tabs-list {
  margin: 0;
  padding: 0;
}

.products .tabs-list .tab-item {
  background-color: #fff;
  border-bottom: 3px solid #f8f9fa;
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
}

.dark .products .tabs-list .tab-item {
  background-color: transparent;
  border-bottom: 3px solid #333;
  color: #fff;
}

.products .tabs-list .tab-item.active {
  margin-bottom: -1px !important;
  border-bottom: 3px solid #dc4f72 !important;
  color: #dc4f72 !important;
}

.products .tabs-list .tab-item.active {
  background-color: #fff;
}

.dark .products .tabs-list .tab-item.active {
  background-color: transparent;
}

.products .tabs-container {
  background-color: #fff;
  padding: 0;
}

.dark .products .tabs-container {
  background-color: transparent;
  padding: 0;
}

.products .tabs-container .products-content.active {
  display: block;
  margin: 20px 0;
  padding: 15px;
}

.products .tabs-container .products-content.active h3 {
  color: #2c3038;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.dark .products .tabs-container .products-content.active h3 {
  color: #fff;
}

.products .tabs-container .products-content.active p {
  color: #5a5a5a;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24.5px;
}

.dark .products .tabs-container .products-content.active p {
  color: #b7b7b7;
}

.products .tabs-container .products-content.active img {
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.products .tabs-container .products-content.active img:hover {
  transform: translateY(-8px);
  transition: 0.3s ease-in-out;
}

.products .tabs-container .products-content {
  display: none;
}
.dark .theme-button {
  background-color: #141617 !important;
}
.dark .theme-button:hover {
  background-color: #dc4f72 !important;
}
.theme-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
}
/* Responsive Accordion Projects */
.img-accordion {
  border-radius: 6px;
}
.accordion-button {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.dark .accordion-button {
  color: #fff;
  background-color: #000;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button[aria-expanded="true"] {
  color: #dc4f72;
  border-bottom: 3px solid #dc4f72;
  background-color: #fff;
}
.dark .accordion-button[aria-expanded="true"] {
  background-color: #000;
}
.dark .accordion-button::after.collapse {
  color: #fff !important;
}
.accordion-button::after {
  display: none;
}
.accordion-button i {
  margin-left: auto;
  transition: all 0.3s;
}
.accordion-button.collapsed i {
  transform: rotate(180deg);
}
.dark .accordion-collapse {
  background-color: #000;
}

/* TESTIMONIALS */
.testimonials {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.77)),
    url(./../img/b3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.dark .testimonials {
  background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.77)),
    url(./../img/b3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.testimonials .testimonials__title .subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  margin-bottom: 5px;
}

.testimonials .testimonials__title h1 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.dark .testimonials .testimonials__title h1 {
  color: #fff;
}

.testimonials .testimonials__title p:last-of-type {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
}

.dark .testimonials .testimonials__title p:last-of-type {
  color: #b7b7b7;
}

.testimonials .testimonials__content .content__item .item {
  /* max-width: 95%; */
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  background-color: #fff;
  border-radius: 6px;
}

.dark .testimonials .testimonials__content .content__item .item {
  background-color: #131617;
}

.testimonials .testimonials__content .content__item .item .item__left {
  width: 30%;
}

.testimonials .testimonials__content .content__item .item .item__left {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
}

.testimonials .testimonials__content .content__item .item .item__left img {
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials .testimonials__content .content__item .item .item__right {
  width: 70%;
  position: relative;
  text-align: left;
}

.testimonials .testimonials__content .content__item .item .item__right span {
  font-size: 30px;
  color: #2c3038;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}

.dark
  .testimonials
  .testimonials__content
  .content__item
  .item
  .item__right
  span {
  color: #eee;
}

.testimonials .testimonials__content .content__item .item .item__right p {
  font-size: 18px;
  line-height: 26px;
  color: #2c3038;
}

.dark .testimonials .testimonials__content .content__item .item .item__right p {
  color: #fff;
}

.testimonials
  .testimonials__content
  .content__item
  .item
  .item__right
  .item__info
  h4 {
  color: #dc4f72;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 0;
}

.testimonials
  .testimonials__content
  .content__item
  .item
  .item__right
  .item__info
  p {
  color: #5a5a5a;
  font-size: 13px;
  line-height: 26px;
}

.dark
  .testimonials
  .testimonials__content
  .content__item
  .item
  .item__right
  .item__info
  p {
  color: #b7b7b7;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #fff;
  width: 40px;
  height: 5px;
  line-height: 16px;
  border-radius: 0;
  transition: all 0.5s;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #dc4f72;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #dc4f72;
}

/* BOOK A DEMO */
.demo .demo__title h1 {
  color: #2c3038;
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
}

.dark .demo .demo__title h1 {
  color: #fff;
}

.demo .demo__title p {
  color: #5a5a5a;
  line-height: 22.5px;
  margin: 16px auto;
  font-size: 16px;
  font-weight: 400;
}

.dark .demo .demo__title p {
  color: #b7b7b7;
}

.demo .demo__button .btn1 {
  background-color: #fff;
  border: 1px solid #dc4f72;
  border-radius: 4px;
  color: #dc4f72;
  font-size: 14px;
  font-weight: 700;
  line-height: 52px;
  display: inline-block;
  margin-right: 8px;
  padding: 0 30px;
  transition: all 0.5s;
}

.dark .demo .demo__button .btn1 {
  background-color: transparent;
}

.demo .demo__button .btn1:hover {
  background-color: #dc4f72;
  color: #fff;
}

.demo .demo__button .btn1:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
}

.demo .demo__button .btn2 {
  background-color: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 52px;
  display: inline-block;
  margin-left: 8px;
  padding: 0 30px;
  transition: all 0.5s;
}

.demo .demo__button .btn2:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.demo .demo__button .btn2:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
}

/* BACKTOTOP */
.backToTop {
  width: 50px;
  height: 50px;
  background: #e6839c;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  color: white;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #e6839c;
  visibility: hidden;
  opacity: 0;
}

.backToTop:hover {
  background: #dc4f72;
  color: #fff;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 991px) {
  .aboutUs .aboutUs__content .content__left {
    padding: 0 25px;
  }

  .aboutUs .aboutUs__content .content__right {
    padding: 0 25px;
  }

  .demo .demo__title h1,
  .testimonials .testimonials__title h1,
  .products h3,
  .faqs__title h1,
  .aboutUs .aboutUs__content .content__left h1,
  .tools .tools__title h1 {
    font-size: 32px;
    line-height: 42px;
  }

  .banner .banner__left h3 {
    font-size: 40px;
    line-height: 45px;
  }
  header .navbar .collapse .nav-item .dropdown-menu {
    transform: translateX(-2px) !important;
  }
  header .navbar .collapse .nav-item .dropdown-menu:before {
    left: 48% !important;
  }
}

.footer .CopyRights a {
  color: #5a5a5a;
  text-decoration: none;
  transition: all 0.5s;
}

.footer .CopyRights a:hover {
  color: #de5979;
}
